In [39]:
import pandas as pd
from datetime import datetime

# Loading the  dataset
df = pd.read_csv('/content/marketing_campaign.csv', delimiter='\t')

# Cleaning the column names
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace(r'\W', '', regex=True)

# Convert dt_customer to datetime and format as dd-mm-yyyy
df['dt_customer'] = pd.to_datetime(df['dt_customer'], dayfirst=True, errors='coerce')
df['dt_customer'] = df['dt_customer'].dt.strftime('%d-%m-%Y')

# Calculating the age
current_year = datetime.now().year
df['age'] = current_year - df['year_birth']

# Checking for missing values
print("Missing values per column:")
print(df.isnull().sum())

# Droping the duplicates if any
df = df.drop_duplicates()

#Strip whitespace from object/string columns
for col in df.select_dtypes(include='object'):
    df[col] = df[col].str.strip()

print(df)
print(df.isnull().sum())
mean_income = df['income'].mean()
df['income'] = df['income'].fillna(mean_income)
print(df['income'].isnull().sum())
# Save cleaned data
df.to_csv('cleaned_dataset.csv', index=False)

Missing values per column:
id                      0
year_birth              0
education               0
marital_status          0
income                 24
kidhome                 0
teenhome                0
dt_customer             0
recency                 0
mntwines                0
mntfruits               0
mntmeatproducts         0
mntfishproducts         0
mntsweetproducts        0
mntgoldprods            0
numdealspurchases       0
numwebpurchases         0
numcatalogpurchases     0
numstorepurchases       0
numwebvisitsmonth       0
acceptedcmp3            0
acceptedcmp4            0
acceptedcmp5            0
acceptedcmp1            0
acceptedcmp2            0
complain                0
z_costcontact           0
z_revenue               0
response                0
age                     0
dtype: int64
         id  year_birth   education marital_status   income  kidhome  \
0      5524        1957  Graduation         Single  58138.0        0
1      2174        1954  Graduation         Single  46344.0        1
2      4141        1965  Graduation       Together  71613.0        0
3      6182        1984  Graduation       Together  26646.0        1
4      5324        1981         PhD        Married  58293.0        1
...     ...         ...         ...            ...      ...      ...
2235  10870        1967  Graduation        Married  61223.0        0
2236   4001        1946         PhD       Together  64014.0        2
2237   7270        1981  Graduation       Divorced  56981.0        0
2238   8235        1956      Master       Together  69245.0        0
2239   9405        1954         PhD        Married  52869.0        1

      teenhome dt_customer  recency  mntwines  ...  acceptedcmp3  \
0            0  04-09-2012       58       635  ...             0
1            1  08-03-2014       38        11  ...             0
2            0  21-08-2013       26       426  ...             0
3            0  10-02-2014       26        11  ...             0
4            0  19-01-2014       94       173  ...             0
...        ...         ...      ...       ...  ...           ...
2235         1  13-06-2013       46       709  ...             0
2236         1  10-06-2014       56       406  ...             0
2237         0  25-01-2014       91       908  ...             0
2238         1  24-01-2014        8       428  ...             0
2239         1  15-10-2012       40        84  ...             0

      acceptedcmp4  acceptedcmp5  acceptedcmp1  acceptedcmp2  complain  \
0                0             0             0             0         0
1                0             0             0             0         0
2                0             0             0             0         0
3                0             0             0             0         0
4                0             0             0             0         0
...            ...           ...           ...           ...       ...
2235             0             0             0             0         0
2236             0             0             1             0         0
2237             1             0             0             0         0
2238             0             0             0             0         0
2239             0             0             0             0         0

      z_costcontact  z_revenue  response  age
0                 3         11         1   68
1                 3         11         0   71
2                 3         11         0   60
3                 3         11         0   41
4                 3         11         0   44
...             ...        ...       ...  ...
2235              3         11         0   58
2236              3         11         0   79
2237              3         11         0   44
2238              3         11         0   69
2239              3         11         1   71

[2240 rows x 30 columns]
id                      0
year_birth              0
education               0
marital_status          0
income                 24
kidhome                 0
teenhome                0
dt_customer             0
recency                 0
mntwines                0
mntfruits               0
mntmeatproducts         0
mntfishproducts         0
mntsweetproducts        0
mntgoldprods            0
numdealspurchases       0
numwebpurchases         0
numcatalogpurchases     0
numstorepurchases       0
numwebvisitsmonth       0
acceptedcmp3            0
acceptedcmp4            0
acceptedcmp5            0
acceptedcmp1            0
acceptedcmp2            0
complain                0
z_costcontact           0
z_revenue               0
response                0
age                     0
dtype: int64
0